* {
  margin: 0;
  padding: 0;
  border: none;
  /*border: 1px solid rgba(0,0,0,0.3);*/
}


@font-face {
    font-family: 'karla';
    src: url("fonts/karla-regular-webfont.woff2") format('woff2'),
         url("fonts/karla-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlabold';
    src: url("fonts/karla-bold-webfont.woff2") format('woff2'),
         url("fonts/karla-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacifico';
    src: url("fonts/pacifico-webfont.woff2") format('woff2'),
         url("fonts/pacifico-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #d8d7d8;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'karla','pacifico';
  line-height: 1.5;
  text-align: left;
  color: #2d2d2d;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}


.body {
  margin: 0 auto;
  max-width: 100%;
  clear: both;
}

header {
  position: fixed;
  border: 1px solid transparent;
}

#logo {
    width: 60%;
    display: block;
    margin-left: 17%;
    margin-top: 2%;
    padding: 4px 4px;
    float: left;
    vertical-align: middle;
    box-shadow: none;
}

header nav {
  background-color: black;
  height: 80px;
  padding: 10px;
  padding-right: 45px;
  /*position: fixed;*/
  /*width: 75%;*/
}

header nav ul {
  list-style: none;
  margin: 0 auto;
  float: right;
}

header nav ul li {
  display:inline;
  float: left;
}

header nav a:link, header nav a:visited {
  color: white;
  display: inline-block;
  padding: 15px 20px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  height: 13px;
}

header nav a:hover, header nav a:active {
  background-color: #e2574c;
  text-shadow: none;
}

.banner {
  border: 2px solid transparent;
  height: 650px;
  margin: 0px auto;
  text-align: center;
  display: block;
  background: url("./images/kayak-bkgd.jpg") rgba(0,0,0,0.1) center center no-repeat;
  background-size: cover;
  line-height: 1.5;
}

.enjoy {
  font-family: 'karla', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50%;
}

.outdoors {
  font-family: 'pacifico', sans-serif;
  color: white;
  font-size: 45px;
  font-weight: normal;
  text-align: center;
  margin-top: 4%;
}

.water {
  font-family: 'pacifico', sans-serif;
  color: white;
  font-size: 38px;
  text-align: center;
  margin-top: 4%;
}

.container-2 {
  color: white;
  background-color: black;
  opacity: 0.73;
  font-weight: bold;
  background-repeat: no-repeat;
  justify-content: center;
  vertical-align: middle;
  line-height: 1.25;
  width: 75%;
  font-size: 14px;
  /*height: 25%;*/
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  background-size: cover;
  margin-top: 6%;
}

button {
  background-color: #e2574c;
  color: white;
  text-transform: uppercase;
  padding: 11px;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'karla';
  text-align: center;
  /*vertical-align: middle;*/
  font-size: inherit;
  margin-top: 8%;
  margin-left: 35%;
  display: block;
}

 button:hover {
  background-color: #b64036;
	box-shadow: 0px 4px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}

.mainContent {
  line-height: 25px;
  /*overflow: hidden;*/
  text-align: center;
  background-color: white;
  border: 2px solid transparent;
}

/*.container {
  width: 75%;
  text-align: center;
}*/

.aboutContent {
  margin-top: 20%;
}

.aboutContent p {
  text-align: center;
  margin-top: 16%;
  margin-bottom: 6%;
  font-size: 14px;
  width: 95%;
  padding: 4%;
}

img {
  max-width: 95%;
  margin-top: 2%;
  box-shadow: 3px 3px 3px #666;
}


h2 {
  font-family: 'pacifico';
  text-align: center;
  font-size: 45px;
  color: #646464;
  /*margin: 0;
  padding: 0;*/
}


.rentals {
  margin-top: 20%;
  clear: both;
}

.rentals h2 {
  margin-bottom: 16%;
}

.rentals p {
  /*float: left;*/
  width: 83%;
  font-size: 14px;
  /*position: relative;*/
  text-align: left;
  font-family: 'karla', sans-serif;
  line-height: 2.0;
  padding: 2%;
}

#rentals-phone {
  color: #e2574c;
  text-decoration: underline;
}

#rentals-phone:hover {
  background-color: #b64036;
}

table {
  width: 340px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c8c8c8;
  margin-left: 2%;
  font-size: 14px;
  font-family: 'karla', sans-serif;
}

table:hover {
  border-color: #fbf6d9;
}

.table {
/*border: 1px solid #c8c8c8;*/
margin-top: 4%;
/*float: right;*/
}

td, th {
  border: 1px solid #c8c8c8;
}

th {
  background: #e6e6e6;
  padding: 3%;
  font-weight: bold;
}

.firstcolumn {
  text-align: left;
  font-size: 14px;
  font-family: 'karla', sans-serif;
  padding: 1%;
  border: 1px solid #c8c8c8;
}

.secondcolumn, .thirdcolumn {
  text-align: center;
  font-size: 14px;
  font-family: 'karla', sans-serif;
  border: 1px solid #c8c8c8;
}

.location h2 {
  margin-top: 20%;
}

.location p {
  font-family: 'karla', sans-serif;
  line-height: 2.0;
  font-size: 14px;
  margin-top: 16%;
  text-align: center;
  clear: both;
  padding: 3%;

}

/*google map*/
iframe {
  margin: auto;
  display: block;
  text-align: center;
  width: 95%;
  height: 200px;
  margin-top: 2%;
  margin-bottom: 16%;
}

/*tablet*/
@media only screen and (min-width: 600px) {
  header { width: 75%;}
  #logo {
      /*width: 60%;
      display: block;*/
      margin-left: 2%;
      margin-bottom: 3%;
      padding: 0;
  }
  header nav {
    /*background-color: black;*/
    height: 40px;
    padding: 5px 5px;
    padding-right: 0;
  }
  /*header nav ul {
    margin-bottom: 6%;
  }
  header nav ul li {
    display:inline;
  }*/
  header nav a:link, header nav a:visited {height: 15px;}
  .banner {
    height: 450px;
  }

  .enjoy {
    font-size: 20px;
    margin-top: 14%;
  }

  .outdoors {
    font-size: 65px;
    margin-top: 3%;
  }

  .water {
    font-size: 35px;
    margin-top: 1%;
  }
  .container-2 {
    margin-top: 4%;
  }

  button {
    margin-top: 4%;
    margin-left: 40%;
  }
  .aboutContent {
    margin-top: 8%;
  }

  .aboutContent p {
    margin-top: 4%;
    margin-bottom: 2%;
    padding-right: 2%;
    /*width: 95%;
    padding: 4%;*/
  }

  img {
    max-width: 31%;
    padding: 0px 2px;
    margin-top: 1%;
    /*box-shadow: 3px 3px 3px #666;*/
  }
  .rentals {
    margin-top: 6%;
  }
  .rentals h2 {
    margin-bottom: 6%;
  }

  .rentals p {
    float: left;
    width: 50%;
    /*font-size: 14px;*/
    /*position: relative;*/
    padding: 2%;
  }

  table {
    width: 270px;
    margin-left: 2%;
    position: absolute;
  }
  .table {
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
  }
  .location h2 {
    margin-top: 24%;
    clear: both;
  }
  .location p {
    margin-top: 10%;
    clear: both;
    padding: 3%;

  }
  .body {width: 75%;}
  footer {width: 75%;}
}

/*desktop*/
@media only screen and (min-width: 1140px) {
  img {max-width: 30%;}
  header img {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 18%;
  }
  .body {
    width: 75%;
  }
  footer {
    width: 75%;
  }
  }

/*footer*/
footer {
  float: left;
  padding: 4%;
  margin: auto 0px;
  width: 95%;
  height: 300px;
  /*height: 60%;*/
  border-color: white;
  background-color: #2b2a2a;
  clear: both;
}

footer section {
  margin-top: 12%;
}

footer p {
  color: white;
  font-family: 'karla', sans-serif;
  line-height: 1.5;
  text-align: center;
  font-size: 14px;
}

footer p a {
  text-decoration: none;
  color: white;
  display: inline;
  font-family: 'karla', sans-serif;
  line-height: 1.5
  text-align: center;
}

.address {
  color: darkgray;
  font-family: 'karla', sans-serif;
  line-height: 1.5;
}

footer nav ul {
  list-style: none;
  /*margin: 0 auto;*/
  margin-top: 8%;
  text-align: center;
  /*float: right;*/
}

footer nav ul li {
  display:inline;
  padding-right: 4px;
  /*float: left;*/
}

footer nav a:link, footer nav a:visited {
  color: white;
  padding: 15px 20px;
  margin: 0 auto;
  display: none;
}

footer nav a:hover, footer nav a:active {
  background-color: #e2574c;
  text-shadow: none;
}

footer i {
  padding-right: 3px;
  color: white;
}

/*i {
  display: inline-block;
  margin-right: 1em;
}*/
