* {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.3);
}

@font-face {
    font-family: 'karla';
    src: url("fonts/karla-regular-webfont.woff2") format('woff2'),
         url("fonts/karla-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlabold';
    src: url("fonts/karla-bold-webfont.woff2") format('woff2'),
         url("fonts/karla-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacifico';
    src: url("fonts/pacifico-webfont.woff2") format('woff2'),
         url("fonts/pacifico-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #d8d7d8;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'karla','pacifico';
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link, a:visited {

}

a:hover, a:active {

}

.body {
  margin: 0 auto;
  max-width: 100%;
  clear: both;
}

/*header {
  background-color: black;
  background-size: cover;
  position: fixed;
  margin: 0 auto;
  width: 75%;
  height: 8%;
  float: left;
}*/

header img {
    width: 50%;
    display: block;
    margin-left: 8%;
    margin-top: 0.5%;
    padding: 5px 5px;
    float: left;
    vertical-align: middle;
}

header nav {
  background-color: black;
  height: 60px;
  /*position: fixed;
  width: 75%;*/
}

/*header nav, header img {
  position: fixed;
}*/

header nav ul {
  list-style: none;
  margin: 0 auto;
  float: right;
}

header nav ul li {
  display:inline;
  float: left;
}

header nav a:link, header nav a:visited {
  color: white;
  display: inline-block;
  padding: 15px 20px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  height: 26px;
}

header nav a:hover, header nav a:active {
  background-color: #e2574c;
  text-shadow: none;
}

/*.menu {
  width: 50%;
  float: right;
}

.menu ul li {
  float: right;
  padding: 15px;
  display: inline;
}*/

/*.navbar{
  position: fixed;
  float: right;
  right: 150px;
  padding: 15px;
}*/


/*.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 50px;
    right: 50px;
}

.navheader {
    display: inline;
    margin: 5px 5px;
}

.about {
    display: fixed;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }*/


.banner {
  height: 450px;
  margin: 0px auto;
  text-align: center;
  border: 1px solid deepink;
  background: url("./images/kayak-bkgd.jpg") rgba(0,0,0,0.1) center center no-repeat;
  background-size: cover;
  line-height: 2;
}

.enjoy {
  font-family: 'karla', sans-serif;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px;
}

.outdoors {
  font-family: 'pacifico', sans-serif;
  color: white;
  font-size: 85px;
  font-weight: normal;
  text-align: center;
}

.water {
  font-family: 'pacifico', sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
}

button {
  background-color: #e2574c;
  color: white;
  text-transform: uppercase;
  padding: 11px;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'karla';
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: inherit;
  margin-top: 30px;
  margin-left: 420px;
  display: block;
}

 button:hover {
	box-shadow: 0px 4px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}

.mainContent {
  line-height: 25px;
  /*overflow: hidden;*/
  text-align: center;
  background-color: white;
}

/*.container {
  width: 75%;
  text-align: center;
}*/

.aboutContent {
  margin-top: 4%;
}

.aboutContent p {
  text-align: center;
  margin-top: 4%;
}

img {
  max-width: 100%;
  margin-top: 4%;
}

h2 {
  font-family: 'pacifico';
  text-align: center;
  font-size: 50px;
  color: gray;
}


.rentals {
  margin-top: 4%;
  clear: both;
}

/*.rentals h2 {
  width: 100%;
}*/

.rentals p {
  float: left;
  width: 30%;
  position: relative;
  text-align: left;
  font-family: 'karla', sans-serif;
  line-height: 1.5;
  margin-top: 2%;
  padding: 1% 2%;
}

#rentals-phone {
  color: #b64036;
  text-decoration: underline;
}

.table {
border: 1px solid #c8c8c8;
margin-top: 4%;
margin-left: 5%;
width: 45%;
float: right;
}

.table-headings {
  text-align: center;
  background-color: #e6e6e6;
}
td{
  border: 1px solid #c8c8c8;
}
th {
  background-color: #c8c8c8;
}

thead, tbody {
  weigth: 40%;
}

.firstcolumn {
  text-align: left;
}

.secondcolumn, .thirdcolumn {
  text-align: center;
}


.location {
  font-family: 'karla', sans-serif;
  line-height: 2.0;
  text-align: center;
  clear: both;
}

/*google map*/
iframe {
  margin: auto;
  display: block;
  text-align: center;
  width: 95%;
  height: 250px;
  margin-top: 2%;
  margin-bottom: 4%;
}

/*.container-1 {
  justify-content: center;
  height: 450px;
  margin: 0 auto;
  text-align: left;
}

.container-2 {
  color: white;
  background-color: black;
  opacity: 0.73;
  font-weight: bold;
  justify-content: center;
  vertical-align: middle;
  line-height: 1.5;
  width: 450px;
  height: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  background-size: cover;

}

.banner_tittle {
  display: block;
  text-align: center;

  align-items: flex-start;
}*/


/*.images {
  display: flex;
  justify-content: space-between;
}*/






/*@media only screen and (min-width: 300px) {
  .table {
    width: 100%;
  }
}


/*tablet*/
@media only screen and (min-width: 600px) {
  img {max-width: 30%; }
  header { max-width: 100%}
  .body {width: 75%}
  footer {width: 75%}
}

/*desktop*/
@media only screen and (min-width: 1140px) {
  img {max-width: 30%;}
  header img {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 18%;
  }
  .body {
    width: 75%;
  }
  footer {
    width: 75%;
  }
  }


/*table div*/
/*.pricing-list {
float: right;
position: relative;
}*/



/*a {
color: white;
text-decoration: none;
}*/

footer {
  float: left;
  padding: 50px;
  margin: auto 0px;
  max-width: 100%;
  /*height: 60%;*/
  border-color: white;
  background-color: #2b2a2a;
  font-size: inherit;
  font-family: arial;
  color: white;
  clear: both;
}

footer p {
  color: white;
  font-family: 'karla', sans-serif;
  line-height: 1.5;
}

footer p a {
  text-decoration: none;
  color: white;
  display: inline;
  font-family: 'karla', sans-serif;
  line-height: 1.5;
}

.address {
  color: darkgray;
  font-family: 'karla', sans-serif;
  line-height: 1.5;
}

/*unordered list - social links*/
.sl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  vertical-align: middle;
  /*overflow: hidden;
  top: 50px;
  right: 50px;*/
}

i {
  display: inline-block;
  margin-right: 1em;
}
