
.container {
  max-width: 960px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid deepink;
  background: url("./images/kayak-bkgd.jpg") rgba(0,0,0,0.1) center center no-repeat;
  background-size: cover;

}

.container-2 {
  color: white;
  background-color: black;
  font-weight: bold;
  width: 450px;
  height: 25px;
  text-align: center;
  margin: inherit;
  display: block;

}

.banner_tittle span {
  display: block;
  text-align: center;
}

img {
  max-width: 100%;
}


header {
  background-color: black;
  width: inherit;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: fixed;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

background {
  color: white;
}

h2 {
  font-family: Pacifico;
  text-align: center;
}


button {
  background-color: #ff2a00;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 11px;
  border-radius: 50px;
  text-decoration: none;
  font-family: arial;
  color: white;
  text-align: center;
  font-size: inherit;
  margin: auto;
  display: block;
}

@media(min-width: 600px) {
  img {max-width: 30%;
  }
}

@media (min-width: 1100px) {
  img {max-width: 30%;
  }
}



table {
border: 1px solid lightgray;
}

td{
  border: 1px solid lightgray;
}
th {
  background-color: lightgray;
  text-align: center;
}


iframe {
  margin: auto;
  display: block;
  text-align: center;
}

a {
color: white;
text-decoration: none;
}

.footer {
  background-color: black;
  font-size: inherit;
  font-family: arial;
  color: white;
}

.social-links {
text-align: right;
top: auto;


}
